asgiref==3.6.0
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_477u68wvzm/croot/certifi_1671487773341/work/certifi
Django==3.0.14
pytz==2023.3
sqlparse==0.4.4
typing_extensions==4.5.0
